/* //Color Palette// */
/* 
light gray: rgb(223 230 233)
light blue: rgb(183 201 224)
gray: rgb(101 112 129)
steal blue: rgb(47 70 85)
steal: rgb(22 38 46)
orange: rgb(187 146 117) 
*/


@import url('https://fonts.cdnfonts.com/css/aubrey');

@font-face {
  font-family: "Aubrey"; 
  src: url("//db.onlinewebfonts.com/t/f109f08852742e27f747f260abdf6fb8.eot"); 
  src: url("//db.onlinewebfonts.com/t/f109f08852742e27f747f260abdf6fb8.eot?#iefix") 
  format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f109f08852742e27f747f260abdf6fb8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f109f08852742e27f747f260abdf6fb8.woff") format("woff"), url("//db.onlinewebfonts.com/t/f109f08852742e27f747f260abdf6fb8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f109f08852742e27f747f260abdf6fb8.svg#Aubrey") format("svg"); 
}
  *::after,
  *::before{
      margin: 0;
      padding: 0%;
      box-sizing: inherit;
  }
  body{
  font-size: 10;
  }
  body {
     box-sizing: border-box;
      }

body{
  font-family: 'Darker Grotesque', sans-serif;
}
#header_btn{
  color: black;
  text-decoration: none;
}
.App {
  text-align: center;
}
.button{
  display: inline-flex;
  background-color: rgb(183 201 224) !important;
  color: rgb(22 38 46) !important;
  border:none !important;
  border-radius: 5px;
  margin-top: 25px;
  font-family: "Aubrey";
  padding: 5px;
  font-size: .8em !important;
}
.button a {
  color: rgb(22 38 46) !important;
}

.smicon{
  position: absolute !important;
  right: 10%;
}

.App-header {
  background-color: rgb(22 38 46);
  background-image: url("https://res.cloudinary.com/legz444/image/upload/v1627919448/skin_collective/41bf88cd-7880-4bb1-9644-f356529eb003_zceowy.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(47 70 85);
  vertical-align: top;

}
.header_btn_div{
  display: inline-block;
}
.header_btn_div button{
  margin: 10px;
}
.overlay Img{
  width: 200px;
  height: 200px;
}
.mission{
  order: 1;
  width: 100vw;
  height: 400px;
  text-align: center;
  display: flex;
  background-color: rgb(47, 70, 85);
  color: rgb(223 230 233);
  font-family: 'Darker Grotesque', sans-serif;

}
.mission h1{
  margin: auto;
  max-width: 40%;
  font-size: calc(18px + 2vmin);
}
.special_words{
  font-family: "Aubrey"; 
  color: rgb(101 112 129);
}

.Pictures{
  padding-top: 100px;
  order: 2;
  width: 100vw;
  background-color: rgb(223 230 233);
}

.menu{
  background-color: rgb(223 230 233);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  color: rgb(223 230 233);
  font-family: "Darker Grotesque", sans-serif;
}
.accordion_title{
  font-size: 1.5em !important;
}
.menu h3{
  color:rgb(47, 70, 85);
  padding-bottom: 25px;
  font-family: "Aubrey";
}

.card{
  color:rgb(47, 70, 85)
  /* background-color: rgb(22 38 46) !important; */
}
.card h4{
  padding-top: 10px;
}
.Products{
  background-color: rgb(183 201 224);
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.product-cards{
  width: 100%;
  margin: auto;
  text-align: center;
}
.product_fig{
  padding: 25px !important;
}

.Contact{
  background-color: rgb(223 230 233);
  font-family: 'Darker Grotesque', sans-serif;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.Modal{
  background-color: rgb(223 230 233);
  color:rgb(47 70 85);
  font-family: 'Darker Grotesque', sans-serif;
}
.close_contact_button{
  background-color: rgb(183 201 224) !important;
  color: rgb(22 38 46) !important;
  border: none !important;
  margin-top: 25px;
  font-family: "Aubrey";
  margin-right: 5px;
  font-size: .8em !important;
}
.send_contact_button{
  background-color: rgb(183 201 224) !important;
  color: rgb(22 38 46) !important;
  border: none !important;
  margin-top: 25px;
  font-family: "Aubrey";
  font-size: .8em !important;
}

.first{
  width: 200px;
  height: 250px;
  top: 125px;
}
.second{
  width: 200px;
}

.imgText{
  background-color: rgba(101, 112, 129, .4);
  width: 300px;
  height: 300px;
  top: 50px;
}
.imgText p{
  font-size: calc(9px + 2vmin);
  font-family: 'Darker Grotesque', sans-serif;
}

.About{
  min-height: 100vh;
  background-color: rgb(223 230 233);
}
.About .p2{
display: none;
}
.About .first{
  background-image: url("https://res.cloudinary.com/legz444/image/upload/v1624753629/skin_collective/pexels-cottonbro-4612151_xd68zg.jpg");
  background-size: cover;
}
.About .second{
  background-image: url("https://res.cloudinary.com/legz444/image/upload/v1624899187/skin_collective/amanda-dalbjorn-fvInY-Gh7sc-unsplash_xgxmym.jpg");
  background-size: cover;
  visibility: hidden;
}
.About .imgText h4{
  padding: 10px;
  font-family: "Aubrey";
  color:rgb(22 38 46);
  text-align: center;
}
.About .imgText{
  color:rgb(22 38 46);

}

.Tegan{
  background-color: rgb(223 230 233);
}

.tegan_title{
  text-align: center;
  font-family: "Aubrey";
  font-size: calc(12px + 2vmin)
}
.tegan_text{
  font-family: "Darker Grotesque", sans-serif;
  font-size: calc(12px + 2vmin)
}
.tegan_text span{
  text-align: center !important;
}

.carousel{
  background-color: rgb(223 230 233);
}


.carousel h5{
font-family: "Darker Grotesque", sans-serif;
}

.carousel h2{
  font-family: "Aubrey";
}

footer{
  padding-top: 50px;
  background-color: rgb(223 230 233);
}
footer p{
  text-align: center;
  font-size: xx-small;
}

/* Media queries */

@media (min-width: 319px){
  .nav{
    visibility: hidden;
  }
  .imgText{
    background-color: rgba(223, 230, 233, .7);
  }
  .About{
    background-image: url("https://res.cloudinary.com/legz444/image/upload/v1624753629/skin_collective/pexels-cottonbro-4612151_xd68zg.jpg");
    background-size: cover;
  }
  .About .first{
    display: none;
  }
  .About .imgText{
    top: 150px;
    width: 90vw;
    height: 55vh;
    left: 5vw;
  }
  .About .imgText p{
    text-align: center;
    padding-bottom: 5px;
    font-size: calc(8px + 2vmin);
    width: 80%;
    margin: auto;
  }

}
@media (min-width: 400px){
  .About .imgText p{
    font-size: calc(12px + 2vmin);
  }
}


/* // [ sm ] Small devices (landscape phones, 576px and up) */ 
@media (min-width: 565px) {
  .nav{
    visibility: visible;
  }
  .overlay Img{
    margin-top: 100px;
    width: 300px;
    height: 300px;
  }
  .App-header{
    padding-bottom: 50px;
  }
  .About{
    background-image: none;
    background-color:rgb(223, 230, 233)
  }
  .About .first{
    display:inherit;
    position: absolute;
    width: 40vw;
    height: 80vh;
    top: 30px;
    left: 5vw;
  }
  .About .imgText{
    top: 10px;
    height: 90vh;
    width: 50vw;
    left: 50vw;

  }
  .About .imgText p{
    font-size: calc(8px + 2vmin);
  }
}
/* // [ md ] Medium devices (tablets, 768px and up) */
@media (min-width: 765px) {
  .About{
    height: 130vh;
    max-height: 800px;
  }
  .About .first{
    top: 15vh;
    height: 70vh;
    width: 50vw;
    left: 3%;
    z-index: 1;
  }
  .About .second{
    visibility: visible;
    height: 40vh;
    width: 50vw;
    right: 5%;
    top: 55vh;
  }
  .About .imgText{
    z-index: 2;
    width: 60vw;
    height: 55vh;
    left: 40%;
    background-color: rgba(47, 70, 85, .8);
    color: white;
    top:10vh;
  }
  .About .imgText h4{
    margin: 15px;
    color: white;
  }
  .About .imgText p{
    font-size: calc(12px + 1.5vmin);
  }
  }
@media (min-width: 800px){
  .About .first{
    left: 5%;
    top: 20px;
    width: 40vw;
    height: 90vh;
  }
  .About .imgText{
    top: 25px;
    left: 50%;
    width: 40vw;
    height: 80vh;
  }
  .About .imgText p{
    font-size: calc(10px + 1vmin);
  }
  .About .second{
    visibility: hidden;
  }
 }
/* // [ lg ] Large devices (desktops, 992px and up) */
@media (min-width: 900px) {
  .About .first{
    top: 10vh;
    height: 80vh;
    width: 40vw;
    left: 5%;
  }
  .About .second{
    visibility: visible;
    background-image: url("https://res.cloudinary.com/legz444/image/upload/v1624899187/skin_collective/amanda-dalbjorn-fvInY-Gh7sc-unsplash_xgxmym.jpg");
    background-size: cover;
    height: 50vh;
    width: 50vw;
    right: 15%;
    top: 45vh;
  }
  .About .imgText{
    z-index: 1;
    width: 50vw;
    height: 45vh;
    top: 15vh;
    left:40%;
    background-color: rgba(47, 70, 85, .8);
    color: white;
  }
  .About .imgText h4{
    color: white;
  }
  .About .imgText p{
    font-size: calc(12px + 1vmin);
  }
  .card{
    font-size: larger;
  }
}
 

/* // [ xl ] Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1020px) { 
  .About .first{
    top: 10vh;
    height: 70vh;
    width: 50vw;
    left: 5%;
  }
  .About .second{
    height: 40vh;
    width: 50vw;
    right: 10%;
    top: 45vh;
  }
  .About .imgText{
    z-index: 1;
    width: 55vw;
    height: 40vh;
    top: 15vh;
    left:40%;
  }
  .About .imgText h4{
    color: white;
  }
  .About .imgText p{
    font-size: calc(12px + 1vmin);
  }
  .card{
    font-size: larger;
  }
  .tegan_card{
    max-width: 75vw;
  }
}

/* 
@media(min-width: 1200px){
  .About{
    height: 150vh;
  }
  .About .first{
    top: 50px;
    height: 650px;
    width: 450px;
    left: 15%;
  }
  .About .second{
    visibility: visible;
    background-image: url("https://res.cloudinary.com/legz444/image/upload/v1624899187/skin_collective/amanda-dalbjorn-fvInY-Gh7sc-unsplash_xgxmym.jpg");
    background-size: cover;
    height: 400px;
    width: 400px;
    right: 20%;
    top: 425px;
  }
  .About .imgText{
    z-index: 1;
    width: 500px;
    height: 400px;
    top: 100px;
    right: 10%;
    background-color: rgba(47, 70, 85, .8);
    color: white;
  }
  .About .imgText h4{
    color: white;
  }

}
@media(min-width: 1300px){
  .About .first{
    top: 50px;
    height: 650px;
    width: 450px;
    left: 15%;
  }
  .About .second{
    visibility: visible;
    background-image: url("https://res.cloudinary.com/legz444/image/upload/v1624899187/skin_collective/amanda-dalbjorn-fvInY-Gh7sc-unsplash_xgxmym.jpg");
    background-size: cover;
    height: 450px;
    width: 450px;
    right: 25%;
    top: 425px;
  }
  .About .imgText{
    z-index: 1;
    width: 600px;
    height: 400px;
    top: 100px;
    right: 10%;
    background-color: rgba(47, 70, 85, .8);
    color: white;
  }
  .About .imgText h4{
    color: white;
  }
}
@media(min-width: 1400px){
  .About .first{
    top: 50px;
    height: 650px;
    width: 450px;
    left: 20%;
  }
  .About .second{
    visibility: visible;
    background-image: url("https://res.cloudinary.com/legz444/image/upload/v1624899187/skin_collective/amanda-dalbjorn-fvInY-Gh7sc-unsplash_xgxmym.jpg");
    background-size: cover;
    height: 500px;
    width: 500px;
    right: 20%;
    top: 425px;
  }
  .About .imgText{
    z-index: 1;
    width: 500px;
    height: 400px;
    top: 100px;
    right: 15%;
    background-color: rgba(47, 70, 85, .8);
    color: white;
  }
  .About .imgText h4{
    color: white;
  }
} */
