.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-image: url("https://res.cloudinary.com/legz444/image/upload/v1623347383/content-pixie-j1WYUNgLbOk-unsplash_ui0pxv.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
