/* //Color Palette// */
/* 
light gray: rgb(223 230 233)
light blue: rgb(183 201 224)
gray: rgb(101 112 129)
steal blue: rgb(47 70 85)
steal: rgb(22 38 46)
orange: rgb(187 146 117) 
*/




.App {
  text-align: center;
}
.button{
  background-color: rgb(183 201 224) !important;
  color: rgb(22 38 46) !important;
  border: none !important;
  margin-top: 25px;
}
.navigate{
  font-family: 'Fjord One', serif;
}


.App-header {
  background-color: rgb(22 38 46);
  background-image: url("https://res.cloudinary.com/legz444/image/upload/v1623347383/skin_collective/content-pixie-j1WYUNgLbOk-unsplash_ui0pxv.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(47 70 85);
  vertical-align: top;
  font-family: 'Fjord One', serif;
  text-shadow: 2px 2px white;

}

.mission{
  order: 1;
  width: 100vw;
  height: 400px;
  text-align: center;
  display: flex;
  background-color: rgb(47, 70, 85);
  color: rgb(223 230 233);
  

}
.mission h1{
  margin: auto;
  max-width: 40%;
  font-size: calc(18px + 2vmin);
  font-family: 'Fjord One', serif;
}
.special_words{
  font-style: italic;
  color: rgb(101 112 129);
}

.About{
  background-color: rgb(223 230 233);
  height: 800px;
}
.about_container{
  width: 80%;
  margin: auto;
  position: relative;
}
.stack1{
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 100px;
}
.stack2{
  position: absolute;
  left: 25%;
}
.about_text{
  font-family: 'Fjord One', serif;
  position: absolute;
  right: 60px;
  top: 50px;
  width:50%;
  height: 400px;
  padding: 50px;
  background: rgba(47, 70, 85, .6);
  text-align: center;
  font-size: 1.2rem;
}

.socmed{
  z-index: 1;
}
.about_Tegan{
  background-color: rgb(47 70 85);
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Fjord One', serif;
  color: rgb(223 230 233);
}
.Tegan_figure{
  width: 50%;
  padding: 10px;
  font-family: 'Fjord One', serif;
  /* color: rgb(22 38 46) !important; */
}
.Tegan_text ul{
  list-style-type: none;
}
.Pictures{
  padding-top: 100px;
  order: 2;
  width: 100vw;
  background-color: rgb(223 230 233);
}
.imageStack{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  margin: auto;
  max-width: 60%;
}

.first{
  grid-column: 2/ span 8;
  grid-row: 1;
  padding-top: 25%;
  z-index: 1;
}

.second{
  background-color: rgb(183 201 224);
  border-radius: 50%;
  grid-column: 6/ -1;
  grid-row: 1;
}

.menu{
  /* background-color: rgb(223 230 233); */
  background-image: url("https://res.cloudinary.com/legz444/image/upload/v1624299958/skin_collective/white_texture_qdcqna.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  color: rgb(223 230 233);
  font-family: 'Fjord One', serif;
}
.menu h1{
  color:rgb(47, 70, 85);
  padding-bottom: 25px;
}

.card{
  color:rgb(47, 70, 85)
  /* background-color: rgb(22 38 46) !important; */
}
.card h4{
  padding-top: 10px;
}
.Products{
  background-color: rgb(183 201 224);
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.product-cards{
  width: 100%;
  margin: auto;
  text-align: center;
}
.product_fig{
  padding: 25px !important;
}

.Contact{
  background-color: rgb(223 230 233);
  font-family: 'Fjord One', serif;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.Modal{
  background-color: rgb(223 230 233);
  color:rgb(47 70 85);
  font-family: 'Fjord One', serif;
}